body {
    margin: 0px;
    padding: 0px;
    height: 100%;

    background-color: #ffffff;
}

#container {
    min-height:100%;
    position:relative;
}

#header {

    padding:10px;
}

#body {
    padding:10px;
    padding-bottom:60px;   /* Height of the footer */
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:50px;   /* Height of the footer */
}

footer{
    height:50px;
    bottom:0px;
    left:0px;
    right:0px;
    padding: 10px;
    margin-bottom:0px;
    color: black;
    background-color: #ffffff;
    text-align: center;
    font-size: smaller;
}

#show-avatar{
    max-width: 200px;
    margin-right: 10px;
}

.row{
    margin-top: 10px;
}

#editar{
    margin: 10px;
}

#main-container{
    left: auto;
    right: auto;
    padding-left: 35px;
    padding-right: 35px;
}