#temas {
    width: 230px;
    border-radius: 6px;
}

#descripcion {
    max-width: 100%;
    min-width: 90%;
}

.deleteTag{
    float: right;
    text-align: center;
    font-size: 11px;
}

section{
    float: left;
}

#precio {
    width: 65px;
    text-align: right;
}

#avatar {
    max-width: 175px;
	max-height: 175px;
	border: 1px;
    border-color: #BCE8F1;
	border-style: solid;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	border-radius: 3px;
}

#overview {
	/*height: 955px;*/
	/*max-height: 955px;*/
    max-width: 100%;
	background-color:#D9EDF7;
/*    left: auto;*/
/*    right: auto;*/
	padding: 12px;
	text-align: left;
/*	width: 280px;*/
    border-radius: 5px;
    border: 1px;
    border-style: solid;
    border-color: #BCE8F1;
    color: #31708F;
    float: right;
/*	margin: 20px;*/
    display: inline-block;
}

h4 {
    clear:left;
}

.tag {
    font-weight: bold;
	text-align: center;
	padding: 3px;
	border-radius: 4px;
	background-color: cornflowerblue;
	color: aliceblue;
	margin: 2px;
    font-size: 12px;
}
