*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#navigationHeader{
    margin-bottom: 0px;
}

body{
    height: 100%;
    width: 100%;
    position:absolute;
}

#subtituloPrincipal{
    font: bold 14px verdana, sans-serif;
}

#container-full{
    background-image: url('http://i.imgur.com/NowYKD7.jpg');
    color: #000000;
    margin: 0 auto;
    min-height: 100%;
    overflow: hidden;
    width: 100%;
}

#espacioTitulo{
    width: 500px;
    margin: 50px auto;
    padding: 15px;
    border: 1px solid #999999;
    background: #DDDDDD;
    border-radius: 20px;
    text-align: center;
}

#tituloPrincipal{
    font: bold 36px verdana, sans-serif;
}

#selector{
    width: 100%;
    height: 40%;
    text-align: center;
}

#clases{
    width: 50%;
    height: 20%;
    border: solid;
    border-width: 0 0 0 0;
}

#trabajo{
    width: 50%;
    height: 20%;
    border: solid;
    border-width: 0 0 0 0;
}

#lema{
    text-align: center;
}



