#descripcion {
    max-width: 100%;
    min-width: 90%;
}
.input-group-addon{
    background-color: white;
    border: 0px solid;
    margin-left: 3px;
}

#temas {
    width: 230px;
    border-radius: 6px;
}

.deleteTag{
    float: right;
    text-align: center;
    font-size: 11px;
}


#precio {
    width: 65px;
    text-align: right;
}

#title {
    color: black;
/*    text-shadow: 1px 1px 0px #666;*/
    font-weight: bolder;
}
