button.btn-primary {
    text-shadow: 0px 1px 0px #000;
	/*background-color: #2B6FB6;*/
	border: 0px;
	padding: 8px;
	font-weight: bold;
    background-image: linear-gradient(to bottom, #337AB7 0px, #265A88 100%);
    /*background-image: linear-gradient(to bottom, #2B6FB6 0px, #337ab7 100%);*/
}

button.btn-primary:hover {
	background-color: #337ab7;
	border: 0px;
	padding: 8px;
	font-weight: bold;
}

*[hidden]{
    display: none;
}

.estrella {
    color: #ffd700;
}

.navbar{
	border-radius: 0px;
}

.modal-header {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.form-group {
	margin-bottom: 5px;
}

.tag-list {

}

.modal-open .no-jump {
overflow-y:scroll;
}

#rating {
	margin: 0px;
}

#avatar {
	max-width: 225px;
	max-height: 225px;
	border: 1px;
    border-color: #BCE8F1;
	border-style: solid;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	border-radius: 3px;
}

#bio {
	max-height: 200px;
}


#btn-contratar {
	float: right;
	position: relative;
	margin-bottom: 10px;
}

#datos-oferta-section{
	font-size: 13px;
	background-color:#ffffff;
    display: block;
}

#datos-oferta {
}

#map{
	display:inline-block;
	background-color: grey;
	left: auto;
	right: auto;
	width: 500px;
	height: 300px;
	text-align: center;
	vertical-align: central;
}

#main-container {
	
}

#overview {
    display: inline-block;
    border: 1px;
    border-style: solid;
    border-color: #BCE8F1;
    color: #31708F;
	background-color:#D9EDF7;
	min-height: 1000px;
}

#loginModal {
	overflow-y: auto;
}

nav {
    background-color: #ffffff !important;
}

body {
	margin-top: 70px;
	/*background-image: url('http://i.imgur.com/NowYKD7.jpg');*/
    background-color: #888888;
}

aside {
	border-radius: 5px;
	float: left;
	width: 280px;
	padding: 20px;
	margin: 20px;
	margin-top: 0px;
	padding-top: 0px;
	/*height: 955px;*/
	/*max-height: 955px;*/
	color: white;
	text-align: left;
}

section {
    clear: both;
	border-radius: 5px;
	float: left;
	padding: 20px;
	margin-bottom: 50px;
	/*height: 1000px;*/
	color: black;
	text-align: justify;
    border: solid 1px #d6d6d6;
}

/* Incluir en estilos.css */
footer {
    height:50px;
    bottom:0px;
    left:0px;
    right:0px;
	padding: 10px;
    margin-bottom:0px;
	color: black;
	background-color: #ffffff;
	text-align: center;
    font-size: smaller;
}

div > button {
	margin: 5px;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

p {
	margin-top: 2px;
	margin-bottom: 2px;
}

h5, h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}

aside > a {
	color: #428BCA;
}

aside > hr {
    border-color: #BCE8F1;
}

a.tag {
	font-weight: bold;
	text-align: center;
	padding: 3px;
	box-shadow: 0 0 1px #888;
	border-radius: 4px;
	background-color: lightgrey;
	color: grey;
	margin: 2px;
}

a.tag:hover{
    background-color: grey;
    color: white;
    text-decoration: none;
}

/* estilos.css */
a.navbar-brand {
	padding-top: 0px;
}

/* estilos.css */

#navbar-main {
	border-top-width: 0px;
	padding-top: 0px;
}


