#rating {
	margin: 0px;
}


#portada {
	max-width: 225px;
	max-height: 225px;
	border: solid 1px #BCE8F1;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	border-radius: 3px;
}

#im_perfil{
    max-height: 64px;
    max-width: 64px;
    border-radius: 3px;
    float: left;
    margin: 10px;
}

#btn-contratar {
	float: right;
	position: relative;
/*	margin-bottom: 10px;*/
}

#overview {
    /*display: inline-block;*/
    border: solid 1px #BCE8F1;
    color: #31708F;
	background-color:#D9EDF7;
    font-size: 13px;
    padding: 12px;
	text-align: left;
    border-radius: 5px;
    padding: 0px 20px;
    margin: 0px 20px;
    min-width: 280px;
}

#loginModal {
	overflow-y: auto;
}

h5, h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}

#overview > hr {
    border-color: #BCE8F1;
}


