#avatar{
    max-width: 200px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
    /*padding: 5px;*/
}

#overview{
/*    border: 1px solid #000000;*/
    border-radius: 1px;
    border: solid 1px #BCE8F1;
    color: #31708F;
    padding-top: 10px;
    background-color:#D9EDF7;
    margin-top: 20px;
    font-size: 13px;
}

#overview h4 {
    font-weight: bold;
}

#ofertas{
/*    border: 1px solid black;*/
    border-radius: 5px;
/*    margin: 10px;*/
    background-color: #ffffff;
    /*float: right;*/
}

#conocimientos{
/*    border: 1px solid #000000;*/
/*    border-radius: 5px;*/
    background-color: #ffffff;
}

#editar_preferencias{
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 200px;
    margin-top: 10px;
}

aside{
    text-align: center;
    display: inline-block;
    padding: 20px;
}

hr{
    border-color: black;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
}

.btn-add{
    float: right;
    /*margin: 10px;*/
}

div.panel .btn{
    margin-right: 5px;
}

/*
li{
    padding-bottom: 5px;
    max-width:100%;
}
*/
a{
    color: #000000;
}

div.panel-heading{
    background-color: #D9EDF7 !important;
}

h4.panel-title > a{
    color:#31708F;
    font-weight: bold;
}